body{
    font-family: 'Open Sans', sans-serif; 
    --primary-blue :#0C2850;
    --primary-yellow: #FBB339;
   
    /* color: rgb(44, 41, 44);
    background-color: rgb(253, 253, 253); */
}

.current-page{
    font-weight: 700;
}

#topic{
    width:fit-content;
    margin: 2rem auto;
    text-align: center;

}

#topic h1{
    color: var(--primary-blue);
}

#topic p{
    padding: 1rem 0;
    color: rgb(131, 128, 128);
}

#main-layout{
    width: 60%;
    margin: 0 auto;
    display: flex;
    /* height: 50vh; */
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.our-contact{
    background-color: #0C2850;
    color: white;
    padding: 2rem;
    width: 40%;
    margin: auto 5px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.our-contact p{
    font-size: 0.9rem;
    padding: 1rem 0;
}
.contact-section{
    display: flex;
    align-items:center;
   

}

.contact-section svg {
    width: 1.3rem;
    margin: 0 1rem 0 0;
    color: #FBB339;
}

.contact-section img{
    width: 1.3rem;
    margin: 0 1rem 0 0;
}

.contact-section a{
    color: white;
    text-decoration: none;
    border-bottom: 0.01rem solid #FBB339;

}

.contact-section a:hover{
    color: #FBB339
}

#socials{
    margin-top:7rem;
    
  }
  
  #socials img{
      margin-right: 1.5rem;
  }

  #socials img:hover{
      background-color: var(--primary-yellow);
      padding: 0.3rem;
      border-radius: 100%;
  }
  
  .cone{
      position: absolute;
      height: 20rem;
      width: 20rem;
      background-color: var(--primary-yellow);
      border-radius: 100%;
      bottom: 0;
      right: 0;
      transform: translateX(50%) translateY(50%);
     }

     .circle{
        height: 7rem;
        width: 7rem;
        background-color:rgba(40, 101, 187, 0.774);
        border-radius: 100%;
        position:absolute;
        bottom: 10%;
        right: 20%;
     }

.your-contact{
    /* background-color: #FBB339; */
    width: 60%;
    padding: 2rem;
    position: relative;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.form-section{
    display: flex;
    flex-direction: column;
}

.form-section label{
    font-size: 0.8rem;
    color: var(--primary-blue);
}

.form-section input{
    height: 2rem;
    border: none;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 0.5rem;
    outline: none;
}

.textarea{
    width:100%;
    grid-column: 1/-1;
}

.form-section input:active, .form-section input:hover, .form-section input:visited{
   
    border-bottom: 1px solid var(--primary-blue);
}

.textarea {
    margin-top: 1rem;
}

.textarea textarea{
   height: 3rem;
}

button{
    grid-column: 2/-1;
    padding: 0.5rem 1rem;
    background-color: var(--primary-blue);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
    /* bottom: 5%;
    right: 0%;
    position: absolute; */
}

button:hover{
    background-color: #133058;
    }
@media (max-width: 1200px){
    #main-layout{
        width: 90%;
    }
}
@media (max-width: 700px){
    #topic p{
        padding: 1rem;
    }
    #main-layout{
        width: 100%;
        flex-direction: column;
        box-shadow: none;

        
    }

    .our-contact{
        width: 90%;
        margin: 0 auto;
    }

    .your-contact{
        width: 90%;

        border: 1px solid rgb(192, 192, 192);
    }

    form{
        display: flex;
        flex-direction: column;
    }

    .form-section{
        margin: 1rem 0;
    }

    .your-contact{
        margin: 1rem auto;
        border-radius: 15px;
    }

    .form-section label{
        font-size: 1rem;
        
    }

    .textarea textarea{
        height: 6rem;
     }
    
    
}

