footer{
    background-color: #0C2850;
    color: white;
    padding: 2rem;
    margin-top: 10rem;
}

.bigger-columns{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2rem 0;
}

.rows{
    margin: 1rem 0;
}
.rows h4{
    margin: 0.5rem 0;
}

.rows li{
list-style: none;
font-size:0.8rem;
}

footer p{
    padding: 0.5rem;
}
hr{
    color: rgb(241, 241, 241);
}
.copyright{
    width: fit-content;
    margin: 0 auto;
    

}

.copyright p{
    font-size: 0.8rem;
}

.socialfoot{
    display: flex;
}
.socialfoot a{
    text-decoration: none;
    color: white;
}

.socialfoot svg{
width: 1.3rem;
color: #FBB339;
}




@media (max-width: 700px){
    .bigger-columns{
        width: 100%;
        margin: 0;
        flex-direction: column;
        padding: 2rem 0;
    }

}