footer{
    background-color: #0C2850;
    color: white;
    padding: 2rem;
}

.bigger-columns{
    display: flex;
    
    padding: 2rem 0;
}

.rows{
    margin: 1rem 0;
}

.rows li{
list-style: none;
font-size:0.9rem;
}

.copyright{
    width: fit-content;
    margin: 0 auto;

}




@media (max-width: 700px){
    .bigger-columns{
        flex-direction: column;
        padding: 2rem 0;
    }
}