#feature-heading{
    margin: 4rem 0;
    text-align: center;
}

#feature-heading h2{
    margin: 4rem auto;
    width: fit-content;
    background-image:linear-gradient(101.43deg, #FBB339 -10.26%, #0C2850 94.64%);
    color: white;
    padding: 0.2rem 1rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.grid-container{
    margin: 4rem auto;
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

#griddy{         
   width: 80%;
   margin: 0 auto;
   display: grid;
   gap: 2rem;
   row-gap: 10rem;
   /* grid-template-columns: 1fr 1fr 1fr; */
   grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
   grid-auto-rows: max-content;
  
}

.card{
   
    background-color: white;
    box-shadow:0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    aspect-ratio: 1/0.5;
    
}

.description h4{
    margin-bottom: 0.4rem;
}

.description p{
    font-size: 0.9rem;
}

.imagediv{
    /* padding: 3rem; */
    margin: 0 auto;
    width: 20rem;
    display: block;
    aspect-ratio: 1/1;    object-fit:cover;
   
   
}

.imagediv img{

border-top-left-radius: 15px;
border-top-right-radius: 15px;
}



.description{
  
    background-color: #0C2850;
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom-right-radius: 15PX;
    border-bottom-left-radius: 15PX;
    aspect-ratio: 1/0.3;
}

.callNow{
    position: absolute;
    width:fit-content;
    color:#0C2850;
    height: fit-content;
    padding: 0.5rem;
    top: 0;
    left: 0;
    background-color: #FBB339;
    border-top-left-radius: 15px;
}

.callNow:hover{
    background-color: #be882a;
    color: white;
    cursor: pointer;
}



@media (max-width: 700px){

    #griddy{
        width: 80%;
        margin: 0 auto;
    
    }

    #feature-heading h2{
        font-size: 2rem;
    }
}

@media (max-width: 376px){
    #griddy{
       
        margin: 0;
    
    }
}