#hero-page{
    width: 100%;
    height:70vh;
    background-image: linear-gradient(60deg,#0c2850d3, #031733c0), url("/images/tranparent/S5.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    color: white;
}

.words{
    width: 60%;
    
    padding:6rem 5rem;
}
.words h1{
    font-family: 'Bitter' sans-serif;
    font-size:4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #FBB339;
    
}

 .words p{
     margin: 2rem 0;
     width: 70%;
 }

 .words a{
     display: block;
     width:fit-content;
    text-decoration: none;
    color: white;
    padding: 0.7rem 2rem;
    background-color: #FBB339;
    border-radius: 20px;
     }

     .words a:hover{
         background-color: #b9801d;
     }



     @media (max-width: 1000px){
         #hero-page{
             height: 60vh;
         }
        .words {
            width: 80%;
           
        }
        .words h1{
            font-size: 2rem;
        }
     }
    @media (max-width: 700px){
        
        #hero-page{
            text-align: center;
        }
        .words {
            width: 100%;
            padding: 1rem;
        }

        .words h1{
            font-size: 2rem;
        }
        .words p{
            margin: 1rem 0;
            width: 100%;
        }
        
        .words a{
            margin: 0 auto;
        }
    }