.modal{
    position: fixed;
    /* top:0;
    left: 5%; */
    width: 100%;
    height: 100vh;
    background-color:#0C2850;
    color: white;
    padding: 1rem;
    overflow: hidden;
    display: none;
    z-index: 1;
    
}

#modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-head h1 a{
    text-decoration: none;
    color: white;
}

#modal-head svg {
width: 2rem;
}

.modal nav ul li{
    list-style: none;
    padding: 1rem 0;
}
.modal nav ul li a{
    text-decoration: none;
    color: white;
}

.modal nav ul hr{
    color: rgb(202, 198, 198);
}


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.123);
    display: none;
}
#menu {
    display: none;
}
#menu svg{
    margin-left: 1.8rem;
    width: 2.5rem;
  
    /* visibility: hidden; */
}

#menu h1 a{
    color: white;
    text-decoration: none;
    
}


@media (max-width: 700px){
    #menu{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    #menu h1{
        display:inline;
        font-size: 1.2rem;
    }
    #menu svg{
        display: inline;
    }
}

