@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture{
    max-width: 100%;
}


body{
    font-family: 'Open Sans', sans-serif; 
    --primary-blue :#0C2850;
    --primary-yellow: #FBB339;
   
    /* color: rgb(44, 41, 44);
    background-color: rgb(253, 253, 253); */
}

.header-cover{
    background-color: #FBB339 ;
    width: 100%;
    padding:1rem 0;
}


header{
    margin: 0 auto;
    color: #0C2850;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

/* header h1{
background-color: rgb(0, 132, 255);
padding: 0.5rem;
border-radius: 50%;
color: white;
} */

.logo{
    display: flex;
    width: 60%;
    gap: 2rem;
}

.search-div{
    width: 80%;
    height: fit-content;
    margin: auto 0;
    border: 1px solid #0C2850;
    display: flex;
    /* gap: 2rem; */
    align-items: center;
    padding: none;
    border-radius: 0.5rem;
    overflow: hidden;
}

.search-div:hover{
    border: 1px solid white;
}
.search-div:active{
    border: 1px solid #040a13;
}

.search-div input{
    background-color: #FBB339 ;
    color: rgb(36, 35, 35);
    /* font-weight: 700; */
    font-size: 1rem;
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    
}

.search-div input:hover{
    border: none;
}
.search-div input:active{
    border: none;
}
.navigation{
    display: flex;
    gap: 3rem;
}
header svg{
    width: 1.5rem;
     
    
   
}

header nav ul{
display: flex;
gap:1.5rem;
}

header nav ul li{
    list-style: none;
}



@media (max-width: 700px){
    header{
        width: 100%;
    }
    .navigation{
        display: none;
    }

    .logo{
        display: flex;
        width: 100%;
        gap: 3rem;
    }

    header h1{
        display: none;
    }
    .search-div{
        height: 2rem;
        width: 70%;
        margin-left: 20%;
 }

    
    
}